h1{
    text-align: center;
}

#gamearea{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    border: solid 1px black;
}

.cell{
    width: 20px;
    height: 20px;
    background-color: red;
}

.enemy{
    background-color: green;
}

.player{
    background-color: blue;
}

.laser{
    background-color: yellow;
}

#gamedetails{
    text-align: center;
}